<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>hub</string>
	<key>connections</key>
	<dict>
		<key>0E9E5111-2CCA-4F92-B527-5E03414CF4B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D74E94A-C11C-4B12-B162-03D1D470B121</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>91027040-9CD0-434D-8BC2-A123D1A090E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3C48464-DBB6-40D6-B84F-1A7CD8CF5A99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B3C48464-DBB6-40D6-B84F-1A7CD8CF5A99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5427806E-9653-47A2-A86D-2587E4514A33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>otakustay</string>
	<key>description</key>
	<string>Open github pages in browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hub</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D74E94A-C11C-4B12-B162-03D1D470B121</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>script</key>
				<string>/usr/local/bin/node lib/index.js {query}</string>
				<key>title</key>
				<string>Open github pages</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0E9E5111-2CCA-4F92-B527-5E03414CF4B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>/usr/local/bin/node lib/setConfig.js {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B3C48464-DBB6-40D6-B84F-1A7CD8CF5A99</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>gh-config</string>
				<key>script</key>
				<string>/usr/local/bin/node lib/config.js {query}</string>
				<key>subtext</key>
				<string>Usage: gh-config key value</string>
				<key>title</key>
				<string>Configure hub</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>91027040-9CD0-434D-8BC2-A123D1A090E6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Configuration updated</string>
				<key>title</key>
				<string>Hub Alfred Workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5427806E-9653-47A2-A86D-2587E4514A33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D74E94A-C11C-4B12-B162-03D1D470B121</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0E9E5111-2CCA-4F92-B527-5E03414CF4B0</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>5427806E-9653-47A2-A86D-2587E4514A33</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>91027040-9CD0-434D-8BC2-A123D1A090E6</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>B3C48464-DBB6-40D6-B84F-1A7CD8CF5A99</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/otakustay/alfred-workflow-hub</string>
</dict>
</plist>
